<div class="panel-group" id="added_accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                               <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#abody_baseLayers">Base Map Layers</a>
                            </h4>
                        </div>
                        <div id="abody_baseLayers" class="panel-collapse collapse">
                             <div id="abaseLayers" class="panel-body">


                                     <div id="added_baseLayers">


                                     </div>


                             </div>

                        </div>
                    </div>


                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                               <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#abody_wmsLayers">WMS Services</a>
                            </h4>
                        </div>
                        <div id="abody_wmsLayers" class="panel-collapse collapse">
                             <div id="awmsLayers" class="panel-body">

                                          <div id="added_wmsLayers">



                                          </div>

                             </div>
                        </div>

                    </div>
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                               <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#abody_vectorLayers">Vector Layers</a>
                            </h4>
                        </div>
                        <div id="abody_vectorLayers" class="panel-collapse collapse">
                             <div id="avectorLayers" class="panel-body">

                                 <div id="added_vectorLayers">


                                 </div>


                             </div>
                        </div>

                    </div>

                     <div class="panel panel-primary">

                         <div class="panel-heading">
                            <h4 class="panel-title">
                               <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#abody_yourLayers">Your Data</a>
                            </h4>
                        </div>
                        <div id="abody_yourLayers" class="panel-collapse collapse">
                             <div id="ayourLayers" class="panel-body">


                                 <div id="added_yourLayers">



                                </div>


                             </div>
                        </div>

                    </div>

                </div>
</div>