<div id="carousel-wmsLayers" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-wmsLayers" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-wmsLayers" data-slide-to="1"></li>
        <li data-target="#carousel-wmsLayers" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/static/common/images/osm.png" alt="Add To Map">
            <div class="carousel-caption">
                <h3>FWI </h3>
            </div>
        </div>
        <div class="item">
            <img src="/static/common/images/osm.png" alt="Add To Map">
            <div class="carousel-caption">
                <h3>WMS 1</h3>
            </div>
        </div>
        <div class="item">
            <img src="/static/common/images/osm.png" alt="Add To Map">
            <div class="carousel-caption">
                <h3>WMS 2</h3>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-wmsLayers" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-wmsLayers" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->