html, body {
    height: 100%;
}

.navigation {

        text-align: center;

}
.navigation li {
    display: inline;
    padding-left: 0;
    padding-right: 50px;
    font-weight:bold;
    font-size:30px;

}


.navigation li.active a{

    color: orange;
}

#left_column > div {

        display: none;

}

#left_column div.active {

        display: block;

}


#mynav {

         height: 4%;
         min-height: 50px;

}

#content-row {

        height: 90%;

}

#content-row > div {

        height:100%;

}

.fill {
    min-height: 100%;
    height: 100%;
}

#baseLayers > div, #added_baseLayers > div {

    cursor: pointer;

}


/* ----- MAP STYLE ------------------*/


#custom_map {

        border-style: solid;
        border-color: #000000;
        height: 100%;


}

#accordion-col {

    padding-left:1px;
    padding-right:1px;
    padding-top:5px;
    padding-bottom:5px;

}

