{% load sekizai_tags %}
{% load staticfiles %}

{% addtoblock "js" %}


    <script type="text/javascript" src="{% static "common/external_libraries/jquery/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "common/external_libraries/bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "common/external_libraries/elastic_slideshow/js/jquery.eislideshow.js" %}"></script>
    <script type="text/javascript" src="{% static "common/external_libraries/elastic_slideshow/js/jquery.easing.1.3.js" %}"></script>



{% endaddtoblock %}