{% load sekizai_tags %}


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% render_block "css" %}
    {% include "./_include/general/header.html" %}
    {% block custom_header %}

        <!--Insert custom header here-->

    {% endblock %}


</head>
<body>

    {% block logo %}

    {% endblock %}
     <div class="container-fluid fill">
         <div id="header-row" class="row">
             <div id="top-class-element" class="col-sm-12">

                    WELCOME TO BUILDYOURWEBGIS

                    <a style="font-size:10px; position:absolute; right:15px; top:5px;">Sign In</a>

             </div>
         </div>

         <div id="body-row" class="row">

            <div id="body-image1" class="col-sm-4 text-center">
                
                <img src="static/common/images/layers_bitmap.png">



            </div>

            <div id="body-image2" class="col-sm-4 text-center">

                <img src="static/common/images/style_and_templatepng.png">


            </div>

            <div id="body-image3" class="col-sm-4 text-center">

                <img src="static/common/images/download.png">

            </div>


         </div>

        <div id="bottom-row" class="row">
            <div id="examples" class="col-sm-4"><p>Example</p></div>
            <div id="tutorial" class="col-sm-4"><p>Tutorial</p></div>
            <div id="readytobuild" class="col-sm-4"><p>Go</p></div>
        </div>
    </div>


    {% render_block "js" %}
    {% include "./_include/general/footer.html" %}

    <script>

            $(document).ready(function () {

                $('#ei-slider').eislideshow({
					animation			: 'center',
					autoplay			: true,
					slideshow_interval	: 3000,
					titlesFactor		: 0
                });



                {% block document_ready %}  {% endblock %}





            });

    </script>

</body>
</html>