{% load sekizai_tags %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    {% render_block "css" %}

        {% include "./_include/webgis/header.html" %}

    {% block custom_header %}

        <!--Insert custom header here-->

    {% endblock %}


</head>
<body>

    {% block logo %}

    {% endblock %}
     <div class="container-fluid fill">
        <div class="row" style="height:100%">
            <div id="accordion-col" class="col-md-3 col-xs-12 text-center">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                               <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#body_baseLayers">Base Map Layers</a>
                            </h4>
                        </div>
                        <div id="body_baseLayers" class="panel-collapse collapse in">
                             <div id="baseLayers" class="panel-body">


                                    {% include "./_include/webgis/baseLayersSlider.html" %}

                             </div>

                        </div>
                    </div>


                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                               <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#body_wmsLayers">WMS Services</a>
                            </h4>
                        </div>
                        <div id="body_wmsLayers" class="panel-collapse collapse">
                             <div id="wmsLayers" class="panel-body">

                                     {% include "./_include/webgis/wmsLayersSlider.html" %}

                             </div>
                        </div>

                    </div>
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                               <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#body_vectorLayers">Vector Layers</a>
                            </h4>
                        </div>
                        <div id="body_vectorLayers" class="panel-collapse collapse">
                             <div id="vectorLayers" class="panel-body"></div>
                        </div>

                    </div>

                     <div class="panel panel-primary">

                         <div class="panel-heading">
                            <h4 class="panel-title">
                               <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#body_yourLayers">Your Data</a>
                            </h4>
                        </div>
                        <div id="body_yourLayers" class="panel-collapse collapse">
                             <div id="yourLayers" class="panel-body">

                                valid format : kml, shapefiles, xy (text format)

                                <form id="form_upload_user_layer" action="post_form_echo/" method="post" enctype="multipart/form-data">

                                    {% csrf_token %}
                                    <!--<input type="file"> class="filestyle" data-buttonName="btn-primary">-->
                                    <input type="file" class="filestyle" data-buttonBefore="true" data-buttonName="btn-primary" name="userlayer">
                                    <button id="upload_client_layer" type="submit" class="btn btn-default">Upload</button>

                                </form>

                                 <div id="post_file_upload"></div>

                             </div>
                        </div>

                    </div>

                     <div class="panel panel-primary">

                         <div class="panel-heading">
                            <h4 class="panel-title">
                               <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#body_download">Download</a>
                            </h4>
                        </div>
                        <div id="body_download" class="panel-collapse collapse">
                            <div id="download" class="panel-body">
                                <button class="btn btn-default">Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="custom_map" class="col-md-7 col-xs-12">

            </div>


            <div class="col-md-2 col-xs-12">
                <div >

                    <h3>Added Layers</h3></br>

                    {% include "./_include/webgis/accordion_added_layers.html" %}

                </div>

            </div>


        </div>

     </div>





    {% render_block "js" %}
    {% include "./_include/webgis/footer.html" %}


    <script>

            $(document).ready(function () {




                $('#carousel-baseLayers, #carousel-wmsLayers ').carousel({
                        interval: false

                });



                var options = {
                                beforeSend: function()
                                {

                                },
                                uploadProgress: function(event, position, total, percentComplete)
                                {

                                },
                                success: function()
                                {

                                },
                                complete: function(response)
                                {

                                     $('#post_file_upload').html(response.responseText)
                                }

                };


                $('#form_upload_user_layer').ajaxForm(options);






                /* NAVIGATION BEHAVIOR TO MOVE */

                $('.navigation li').on('click',function () {
                    $('.navigation li').not(this).removeClass('active');
                    $(this).addClass('active');
                    var id=$(this).children('a').attr('href');
                    $('#left_column div:not('+id+')').removeClass('active');
                    $(id).addClass('active');


                });

                $('#download').on('click', function() {


                        createCustomWebGis('{{ csrf_token }}')
                });




                _CustomWebGis =  new WebGisMap();






                {% block document_ready %}  {% endblock %}


            });

    </script>

</body>
</html>