{% load sekizai_tags %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% render_block "css" %}
    {% include "./_include/webgis/header.html" %}

    {% block custom_header %}

        <!--Insert custom header here-->

    {% endblock %}


</head>
<body>

    {% block logo %}

    {% endblock %}
     <div class="container-fluid fill">
        <div id="mynav" class="row">

            <ul class="navigation">
                  <li class="active"><a href="#basemap">BaseMap</a></li>
                  <li><a href="#wms">WMS Service</a></li>
                  <li><a href="#vector">Vector</a></li>
                  <li><a href="#yourvector">Your Data</a></li>
                  <li><a href="#download">Download</a></li>
            </ul>

        </div>

        <div id="content-row" class="row">
            <div id="div_current_layer_choose" class="col-sm-2">

                <div id="left_column">

                    {% include "./_include/webgis/navbar_content.html" %}

                </div>


            </div>
            <div id="custom_map" class="col-sm-8">



                    Create Your Custom Map
                    {% block customize_map %}



                    {% endblock %}

            </div>
            <div id="div_ichooseit" class="col-sm-2">
                <div id="right_column">

                    <h3>Added Layers / Tools</h3></br>

                    <div id="added_basemap">

                        Base map

                    </div>

                    <div id="added_wms">

                            WMS

                    </div>

                    <div id="added_vector">

                        Vector Layer

                    </div>
                    <div id="added_your_layer">

                        Your Layer

                    </div>
                    <div id="added_tools">

                        Tools

                    </div>



                </div>

            </div>


        </div>
    </div>




    {% render_block "js" %}
    {% include "./_include/webgis/footer.html" %}


    <script>

            $(document).ready(function () {

                $('.navigation li').on('click',function () {
                    $('.navigation li').not(this).removeClass('active');
                    $(this).addClass('active');
                    var id=$(this).children('a').attr('href');
                    $('#left_column div:not('+id+')').removeClass('active');
                    $(id).addClass('active');


                });

                _CustomWebGis =  new WebGisMap();




                {% block document_ready %}  {% endblock %}


            });

    </script>

</body>
</html>